<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>
      <% if @info %>
        <%="#{@info["name"]}, #{@info["sys"]["country"]}" %>
      <% else %>
        search
      <% end %>
    </title>
    <meta name="description" content="a weather app">
    <link rel="stylesheet" type="text/css" href="/styles.css">
  </head>
  <body>
    <div class="container">
      <h1 style="text-align: center">⚡️</h1>
      <%= yield_content :search %>
      <%= yield_content :info %>
    </div>
  </body>
</html>
