<% content_for :search do %>
  <div class="categories">
    <form class="my-form" method="get" action="/info" >
      <div class="form-group">
        <p>
          <div class="date_header">
            weather where?
          </div>
        </p>
        <input type="text" name="location">
      </div>
      <input class="button" type="submit" value="search!" name="">
    </form>
  </div>
<% end %>
