<% content_for :search do %>
  <form class="my-form" method="get" action="/info" >
    <div class="form-group">
      <label>enter a location: </label>
      <input type="text" name="location">
    </div>
    <input class="button1" type="submit" value="search" name="">
  </form>
<% end %>
