<% content_for :search do %>
  <div class="categories">
    <% if session[:input_error] %>
      <%= session.delete(:input_error) %>
    <% end %>
    <% if session[:oops] %>
      <%= session.delete(:oops) %>
    <% end %>
    <form class="my-form" method="get" action="/info" >
      <div class="form-group">
        <p>
          <div class="date_header">
            weather where?
          </div>
        </p>
        <input type="text" name="location">
      </div>
      <input class="button" type="submit" value="search!" name="">
    </form>
  </div>
<% end %>
